<a href="/" class="small muted">HOME</a>
<h1>{{ title }}</h1>

{{#each errors}}
  <div class="alert alert-danger">{{ this.msg }}</div>
{{/each}}

{{#if success}}
  <div class="alert alert-success">Well done! New account created.</div>
{{/if}}

{{#each items}}
  <div class="alert alert-info">{{ this.task }}{{ this.prio }}</div>
{{/each}}

<form action="/insert" method="post">
  <div class="input form-group">
    <label for="email">Task</label>
    <input class="form-control" type="text" name="task" id="task">
  </div>
  <div class="form-group">
    <label for="prio">Prio</label>
    <select class="form-control" name="prio" id="prio">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
