
{{#each errors}}
  <div class="alert alert-danger">{{ this.msg }}</div>
{{/each}}

{{#each success}}
  <div class="alert alert-success">{{ this.msg }}</div>
{{/each}}

{{#each uncompleted}}
  {{> task-item task=this complete='Complete' }}
{{/each}}

<hr />

{{#each completed}}
  {{> task-item task=this complete='Uncomplete' }}
{{/each}}

<form action="/insert" method="post">
  <div class="input form-group">
    <label for="email">Task</label>
    <input class="form-control" type="text" name="task" id="task">
  </div>
  <div class="form-group">
    <label for="prio">Prio</label>
    <select class="form-control" name="prio" id="prio">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
