
{{#each errors}}
  <div class="alert alert-danger">{{ this.msg }}</div>
{{/each}}

{{#each success}}
  <div class="alert alert-success">{{ this.msg }}</div>
{{/each}}

{{#each uncompleted}}
  {{> task-item task=this completed='uncompleted' }}
{{/each}}

<hr />

{{#each completed}}
  {{> task-item task=this completed='completed' }}
{{/each}}
