<!DOCTYPE html>
<html>
  <head>
    <title>Simple ToDo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/hbs-helpers.js"></script>
  </head>
  <body>
    <div class="fixed-top"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Tuesday</h1>
          {{{ body }}}
        </div>
      </div>
    </div>
  </body>
</html>
