<h1>Update item</h1>

<form action="/update/{{ item._id }}" method="post">
  <div class="input form-group">
    <label for="email">Task</label>
    <input class="form-control" value="{{ item.task }}" type="text" name="task" id="task">
  </div>
  <div class="form-group">
    <label for="prio">Prio</label>
    <select class="form-control" name="prio" id="prio">
      <!-- TODO Fix so that the correct option is filled in. -->
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
