<h2>Edit task</h2>

<form action="/update/{{ item._id }}" method="post">
  <div class="input form-group">
    <label for="email">Task</label>
    <input class="form-control" value="{{ item.task }}" type="text" name="task" id="task">
  </div>
  <div class="form-group">
    <label for="prio">Prio</label>
    <select class="form-control" name="prio" id="prio">
      <option{{#if prio.low }} selected {{/if}}>Low</option>
      <option{{#if prio.medium }} selected {{/if}}>Medium</option>
      <option{{#if prio.high }} selected {{/if}}>High</option>
    </select>
  </div>
  <a href="/">Cancel</a>
  <button class="btn btn-primary ml-3" type="submit">Submit</button>
</form>
