@import "../node_modules/bootstrap/scss/bootstrap";

$pad: 50px;

body {
  padding: $pad;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  border-left: 4px solid #eee;
}
.prio-Low {
  border-left-color: $success;
}
.prio-Medium {
  border-left-color: $warning;
}
.prio-High {
  border-left-color: $danger;
}
