// Variable overrides from Bootstrap core.
$white: #FDFDFD;
$primary: #FE5E5C;

// Custom variables

// Importing the whole of Bootstrap for now.
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}
.fixed-top {
  width: 100%;
  height: 4px;
  background: $primary;
  position: fixed;
}
hr {
  margin-left: -15px;
  margin-right: -15px;
}

// Styling for a task element
.task {
  border-right: 3px solid #eee;

  .task-text {
    min-height: 28px;
    line-height: 28px;
  }

  .task-footer {
    display: none;
  }
}
.completed .task-text {
  @extend .text-muted;
  text-decoration: line-through;
}
.prio-low {
  border-right-color: $success;
}
.prio-medium {
  border-right-color: $warning;
}
.prio-high {
  border-right-color: $danger;
}

// Complete button
.toggle-complete {
  display: block;
  width: 28px;
  height: 28px;
  outline: none;
  border: 2px solid;
  size: 10px;
}
.uncompleted .toggle-complete {
  @extend .btn-outline-primary;
}
.completed .toggle-complete {
  @extend .btn-primary;
}
.toggle-complete:active,
.toggle-complete:focus {
  outline: none;
}
